.tabs-container {
    background-color: #fff;
    margin-bottom: 35px;
}

.nav-tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    background-color: #fff;
    list-style: none;
    flex-wrap: wrap;
    /* Allow tabs to wrap on smaller screens */
}

.nav-item {
    list-style: none;
}

.nav-link {
    padding: 8px 20px;
    text-decoration: none;
    color: #333;
    position: relative;
    margin-bottom: -1px;
    cursor: pointer;
    user-select: none;
    display: block;
}

.nav-link.active {
    border: 1px solid #ddd;
    border-bottom: 1px solid white;
    border-radius: 4px 4px 0 0;
    color: #333;
    background: white;
}

.nav-link:hover:not(.active) {
    color: #333;
    background-color: #f8f8f8;
}