* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #f1f1f1;
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.form-container {
    flex-grow: 1;
    padding: 20px;
}

.form-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group input[type="date"] {
    padding-left: 10px;
}
